In [8]:
# Import libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import sys
sys.path.append('../preprocessing')
from Preprocessing import *

### Load Data

In [9]:
# Load data
games = pd.read_csv("../data/games.csv")
games.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
0,2022090800,2022,1,09/08/2022,20:20:00,LA,BUF,10,31
1,2022091100,2022,1,09/11/2022,13:00:00,ATL,NO,26,27
2,2022091101,2022,1,09/11/2022,13:00:00,CAR,CLE,24,26
3,2022091102,2022,1,09/11/2022,13:00:00,CHI,SF,19,10
4,2022091103,2022,1,09/11/2022,13:00:00,CIN,PIT,20,23

In [10]:
players = pd.read_csv("../data/players.csv")
players.head()

   nflId height  weight   birthDate     collegeName position     displayName
0  25511    6-4     225  1977-08-03        Michigan       QB       Tom Brady
1  29550    6-4     328  1982-01-22        Arkansas        T    Jason Peters
2  29851    6-2     225  1983-12-02      California       QB   Aaron Rodgers
3  30842    6-6     267  1984-05-19            UCLA       TE  Marcedes Lewis
4  33084    6-4     217  1985-05-17  Boston College       QB       Matt Ryan

In [11]:
plays = pd.read_csv("../data/plays.csv")
plays.head()

,gameId,playId,ballCarrierId,ballCarrierDisplayName,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,...,preSnapHomeTeamWinProbability,preSnapVisitorTeamWinProbability,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPoints,expectedPointsAdded,foulName1,foulName2,foulNFLId1,foulNFLId2
0,2022100908,3537,48723,Parker Hesse,(7:52) (Shotgun) M.Mariota pass short middle t...,4,1,10,ATL,TB,...,0.976785,0.023215,-0.006110,0.006110,2.360609,0.981955,NaN,NaN,NaN,NaN
1,2022091103,3126,52457,Chase Claypool,(7:38) (Shotgun) C.Claypool right end to PIT 3...,4,1,10,PIT,CIN,...,0.160485,0.839515,-0.010865,0.010865,1.733344,-0.263424,NaN,NaN,NaN,NaN
2,2022091111,1148,42547,Darren Waller,(8:57) D.Carr pass short middle to D.Waller to...,2,2,5,LV,LAC,...,0.756661,0.243339,-0.037409,0.037409,1.312855,1.133666,NaN,NaN,NaN,NaN
3,2022100212,2007,46461,Mike Boone,(13:12) M.Boone left tackle to DEN 44 for 7 ya...,3,2,10,DEN,LV,...,0.620552,0.379448,-0.002451,0.002451,1.641006,-0.043580,NaN,NaN,NaN,NaN
4,2022091900,1372,47857,Devin Singletary,(8:33) D.Singletary right guard to TEN 32 for ...,2,1,10,BUF,TEN,...,0.836290,0.163710,0.001053,-0.001053,3.686428,-0.167903,NaN,NaN,NaN,NaN

In [12]:
plays.columns

Index(['gameId', 'playId', 'ballCarrierId', 'ballCarrierDisplayName',
       'playDescription', 'quarter', 'down', 'yardsToGo', 'possessionTeam',
       'defensiveTeam', 'yardlineSide', 'yardlineNumber', 'gameClock',
       'preSnapHomeScore', 'preSnapVisitorScore', 'passResult', 'passLength',
       'penaltyYards', 'prePenaltyPlayResult', 'playResult',
       'playNullifiedByPenalty', 'absoluteYardlineNumber', 'offenseFormation',
       'defendersInTheBox', 'passProbability', 'preSnapHomeTeamWinProbability',
       'preSnapVisitorTeamWinProbability', 'homeTeamWinProbabilityAdded',
       'visitorTeamWinProbilityAdded', 'expectedPoints', 'expectedPointsAdded',
       'foulName1', 'foulName2', 'foulNFLId1', 'foulNFLId2'],
      dtype='object')

In [13]:
tackles = pd.read_csv("../data/tackles.csv")
tackles.head()

       gameId  playId  nflId  tackle  assist  forcedFumble  pff_missedTackle
0  2022090800     101  42816       1       0             0                 0
1  2022090800     393  46232       1       0             0                 0
2  2022090800     486  40166       1       0             0                 0
3  2022090800     646  47939       1       0             0                 0
4  2022090800     818  40107       1       0             0                 0

In [14]:
tracking_week_1 = pd.read_csv("../data/tracking_week_1.csv")
tracking_week_1.head()

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
0,2022090800,56,35472.0,Rodger Saffold,1,2022-09-08 20:24:05.200000,76.0,BUF,left,88.37,27.27,1.62,1.15,0.16,231.74,147.90,NaN
1,2022090800,56,35472.0,Rodger Saffold,2,2022-09-08 20:24:05.299999,76.0,BUF,left,88.47,27.13,1.67,0.61,0.17,230.98,148.53,pass_arrived
2,2022090800,56,35472.0,Rodger Saffold,3,2022-09-08 20:24:05.400000,76.0,BUF,left,88.56,27.01,1.57,0.49,0.15,230.98,147.05,NaN
3,2022090800,56,35472.0,Rodger Saffold,4,2022-09-08 20:24:05.500000,76.0,BUF,left,88.64,26.90,1.44,0.89,0.14,232.38,145.42,NaN
4,2022090800,56,35472.0,Rodger Saffold,5,2022-09-08 20:24:05.599999,76.0,BUF,left,88.72,26.80,1.29,1.24,0.13,233.36,141.95,NaN

### Link Each DataFrame

Goal- understand what each dataframe tells us for a given play in a given game and inspect what data we have

In [15]:
# Play-level data for the play
pd.set_option('display.max_colwidth', None)
plays.loc[(plays['playId'] == 57) & (plays['gameId'] == 2022091100)]

,gameId,playId,ballCarrierId,ballCarrierDisplayName,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,...,preSnapHomeTeamWinProbability,preSnapVisitorTeamWinProbability,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPoints,expectedPointsAdded,foulName1,foulName2,foulNFLId1,foulNFLId2
3144,2022091100,57,42345,Marcus Mariota,(15:00) (Shotgun) M.Mariota scrambles right end to ATL 36 for 11 yards (P.Werner).,1,1,10,ATL,NO,...,0.28179,0.71821,0.019138,-0.019138,1.298699,0.727155,NaN,NaN,NaN,NaN

In [16]:
# Tackle data on the play
tackles.loc[(tackles['playId'] == 57) & (tackles['gameId'] == 2022091100)]

,gameId,playId,nflId,tackle,assist,forcedFumble,pff_missedTackle
1279,2022091100,57,53489,1,0,0,0

In [17]:
# Player-level data on the player who made the tackle
players[players["nflId"] == 53489]

      nflId height  weight birthDate collegeName position  displayName
1278  53489    6-3     242       NaN  Ohio State      OLB  Pete Werner

In [18]:
# Full tracking data on that play
pd.set_option('display.max_rows', 10)
tracking_week_1.loc[(tracking_week_1['playId'] == 57) & (tracking_week_1['gameId'] == 2022091100)]

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
79212,2022091100,57,37097.0,Cameron Jordan,1,2022-09-11 13:04:58.799999,94.0,NO,right,35.000000,30.16,2.41,2.37,0.25,302.73,352.06,NaN
79213,2022091100,57,37097.0,Cameron Jordan,2,2022-09-11 13:04:58.900000,94.0,NO,right,34.980000,30.38,2.11,2.49,0.21,290.55,355.57,NaN
79214,2022091100,57,37097.0,Cameron Jordan,3,2022-09-11 13:04:59.000000,94.0,NO,right,35.000000,30.54,1.72,2.77,0.17,278.63,1.83,NaN
79215,2022091100,57,37097.0,Cameron Jordan,4,2022-09-11 13:04:59.099999,94.0,NO,right,35.030000,30.67,1.36,2.86,0.13,260.25,10.99,NaN
79216,2022091100,57,37097.0,Cameron Jordan,5,2022-09-11 13:04:59.200000,94.0,NO,right,35.090000,30.75,1.00,3.01,0.09,241.49,28.66,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80265,2022091100,57,NaN,football,42,2022-09-11 13:05:02.900000,NaN,football,right,46.410000,9.23,6.31,4.98,0.65,NaN,NaN,tackle
80266,2022091100,57,NaN,football,43,2022-09-11 13:05:03.000000,NaN,football,right,46.959999,8.97,5.67,5.88,0.60,NaN,NaN,NaN
80267,2022091100,57,NaN,football,44,2022-09-11 13:05:03.099999,NaN,football,right,47.430000,8.72,5.02,6.06,0.53,NaN,NaN,NaN
80268,2022091100,57,NaN,football,45,2022-09-11 13:05:03.200000,NaN,football,right,47.840000,8.49,4.45,6.12,0.48,NaN,NaN,NaN
80269,2022091100,57,NaN,football,46,2022-09-11 13:05:03.299999,NaN,football,right,48.189999,8.26,3.88,5.64,0.42,NaN,NaN,NaN

In [19]:
# Game-level data
games[games['gameId'] == 2022091100]

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
1,2022091100,2022,1,09/11/2022,13:00:00,ATL,NO,26,27

## Other EDA

In [20]:
tracking_week_1['event'].value_counts()

first_contact                28773
tackle                       26928
ball_snap                    16415
pass_outcome_caught          15870
handoff                      15364
                             ...
pass_shovel                     23
fumble_defense_recovered        23
fumble_offense_recovered        23
autoevent_passinterrupted       16
autoevent_passforward            9
Name: event, Length: 26, dtype: int64

In [21]:
tracking_week_1.dropna()['club'].value_counts()

HOU    4928
IND    4928
PHI    4290
DET    4290
PIT    4213
       ...
MIA    3531
LV     3377
LAC    3377
MIN    2915
GB     2915
Name: club, Length: 32, dtype: int64

In [22]:
# Filter for only run plays
plays[-plays['playDescription'].str.contains('pass')]

,gameId,playId,ballCarrierId,ballCarrierDisplayName,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,...,preSnapHomeTeamWinProbability,preSnapVisitorTeamWinProbability,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPoints,expectedPointsAdded,foulName1,foulName2,foulNFLId1,foulNFLId2
1,2022091103,3126,52457,Chase Claypool,(7:38) (Shotgun) C.Claypool right end to PIT 37 for 3 yards (C.Awuzie).,4,1,10,PIT,CIN,...,0.160485,0.839515,-0.010865,0.010865,1.733344,-0.263424,NaN,NaN,NaN,NaN
3,2022100212,2007,46461,Mike Boone,(13:12) M.Boone left tackle to DEN 44 for 7 yards (J.Abram; D.Deablo).,3,2,10,DEN,LV,...,0.620552,0.379448,-0.002451,0.002451,1.641006,-0.043580,NaN,NaN,NaN,NaN
4,2022091900,1372,47857,Devin Singletary,(8:33) D.Singletary right guard to TEN 32 for 3 yards (N.Jones; O.Adeniyi). TEN-O.Adeniyi was injured during the play. His return is Questionable. O.Adeniyi walks off.,2,1,10,BUF,TEN,...,0.836290,0.163710,0.001053,-0.001053,3.686428,-0.167903,NaN,NaN,NaN,NaN
6,2022100207,2933,38538,Ryan Tannehill,(13:31) (Shotgun) R.Tannehill scrambles up the middle to TEN 28 for 3 yards (Z.Franklin). IND-T.Lewis was injured during the play. TEN-T.Burks was injured during the play. He is Out.,4,3,5,TEN,IND,...,0.230881,0.769119,0.027645,-0.027645,0.137272,-1.269624,NaN,NaN,NaN,NaN
7,2022102310,56,46377,Jeffery Wilson,(15:00) J.Wilson left tackle to SF 32 for 7 yards (W.Gay; J.Reid).,1,1,10,SF,KC,...,0.568721,0.431279,0.001382,-0.001382,1.298699,0.282340,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12477,2022102307,1224,42358,Melvin Gordon,(14:18) (Shotgun) M.Gordon left tackle to NYJ 49 for 1 yard (Q.Williams).,2,2,8,DEN,NYJ,...,0.458804,0.541196,-0.036002,0.036002,1.939443,-0.817222,NaN,NaN,NaN,NaN
12481,2022100204,123,43293,Ezekiel Elliott,(13:31) E.Elliott right tackle to WAS 38 for 1 yard (J.Allen).,1,1,10,DAL,WAS,...,0.638600,0.361400,-0.011542,0.011542,3.642571,-0.504018,NaN,NaN,NaN,NaN
12483,2022101605,3371,44860,Joe Mixon,"(9:35) (Shotgun) J.Mixon left end to CIN 47 for 6 yards (C.Harris, D.Davis).",4,1,10,CIN,NO,...,0.667054,0.332946,-0.005164,0.005164,2.115356,0.203819,NaN,NaN,NaN,NaN
12484,2022100207,2777,52449,Jonathan Taylor,"(2:02) (Shotgun) J.Taylor up the middle to TEN 36 for -2 yards (D.Long, J.Schobert).",3,1,10,IND,TEN,...,0.410611,0.589389,-0.046648,0.046648,3.946232,-0.976039,NaN,NaN,NaN,NaN
12485,2022102308,905,54572,Dameon Pierce,(12:51) C.Heck reported in as eligible. D.Pierce up the middle to LV 14 for 3 yards (D.Perryman; D.Deablo).,2,3,1,HOU,LV,...,0.726639,0.273361,-0.015028,0.015028,4.685974,0.251580,NaN,NaN,NaN,NaN

### Project Ideas

Project Idea:

Goal: Predict the most likely location(s) where a player will get tackled / yards gained on a running play

Usefulness: Helps NFL coaches predict yards gained on a play 

Why running plays?
- More standardized vs passing plays which vary by play type and team

Data pre-processing:
- Filter data for only the running plays and only the data
- Link the player attributes, plays, and tackel dataframes to the player tracking data using the player IDs and timestamps 
- One hot encode team ID, player ID, event

PROBLEMS 
- WHAT OBSERVATIONS DO WE USE FOR EACH PLAY???? We have data pre-snap (positinos of all players before the play starts) AND during each play-- what is the input/output? Live calculation during a play? 
    - Each play is NOT one observation - can be > 2k rows per playID; which ones to use? Is there a way to group them? Real time calculation of tackle probability in time after snap?


Blue sky idea
- Simulator where you can move the players around on the field / different formation and see the simulated results

In [ ]:
from scikit